<!DOCTYPE html>
<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Breitlon</title>
	  <style>
		body{
			background-color:grey;
		}
		.title_img{
			width: 75%;
			max-width: 450px;
			height: auto;
			display:block;
			margin-left:auto;
			margin-right:auto;
			padding:10px 0px 10px 0px;
		}
		tr{
			font-size:16pt;
			border: 3px solid black;
		}
		a {color: #000;}
		<!-- a:hover {color: #800080;} -->
	  </style>
  </head>
  <body style="border:0px;">
	<div class="container">
		<!-- <h1>Breitlon</h1> -->
		<img class="title_img" src="{{ url_for('static', filename='breitlon.png') }}">
		<table class="table table-bordered">
		{% for article in article_list %}
			{% if article.3 == 'bb' %}
				<tr class="danger">
						<td><a href="{{ article.2 }}">{{ article.0 }}</a></td>
						<td>{{ article.1 }}</td>
				</tr>
			{% else %}
				<tr class="info">
						<td><a href="{{ article.2 }}">{{ article.0 }}</a></td>
						<td>{{ article.1 }}</td>
				</tr>
			{% endif %}
		{% endfor %}
		</table>
	</div>
	<a title="Real Time Web Analytics" href="http://clicky.com/101100588"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
	<script src="//static.getclicky.com/js" type="text/javascript"></script>
	<script type="text/javascript">try{ clicky.init(101100588); }catch(e){}</script>
	<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101100588ns.gif" /></p></noscript>
  </body>
 </html>
